.wrapper {
  display: grid; /* used grid */
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #043;
  color: #444;
  border-top: 2px solid #ea0; 
}

.box {
  background-color: #043;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 80%;
}
.a {
        grid-column-start: 1; grid-column-end: 5;
        grid-row-start: 1;  grid-row-end: 5; }
.b {
        grid-column-start: 5; grid-column-end: 6;
        grid-row-start: 1; grid-row-end: 5;}

nav {
	background-color: #043;
}
		#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu { /* used MENU 8*/
    width: 960px;
    margin: 40px auto;
    border: 2px solid #ea0;
    background-color: #043;
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
}

#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu {
    zoom:1;
}

#menu li {
    float: left;
    border-right: 1px solid #222;
    box-shadow: 1px 0 0 #444;
    position: relative;
}

#menu a {
    float: left;
    padding: 12px 30px;
    color: white;
    font: bold 12px Source Sans Pro, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
    color: #fafafa;
}



/* Handle the animation of the submenus */

#menu ul {
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
    background: #444;   
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

#menu li:hover > ul { /*used CHILD */
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul { /*used DESCENDENT*/
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul li:last-child {   
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
    width: 130px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
    color: white;
	background-color: #043;
}

#menu ul a:hover {
    background-color: #ea0;
    background-image: linear-gradient(#043);
}

/* Handle the First and Last Child */
#menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;   
}

#menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}
section {
	text-align: center;
}
.getinvolved {
	float: right
}
    .contactsite { /* used NESTED GRID */
        display: grid;
		grid-gap: 10px;
        grid-template-columns: repeat(4, [col] 150px ) ;
        grid-template-rows: repeat(2, [row] auto  );
        background-color: #fff;
        color: #444;
    }
	.box {
        background-color: white;
        color: black;
		border: 2px solid;
        border-radius: 5px;
        padding: 20px;
        font: bold 14px Source Sans Pro, Helvetica;
    }

  .box .box {
        background-color: #ea0;
        color: black;
	}

    .a {
        grid-column: col / span 2;
        grid-row: row;}

    .b {
        grid-column: col 3 / span 2;
        grid-row: row;}
	.c {
        grid-column: col / span 2;
        grid-row: row 2;}

    .d{
        grid-column: col 3 / span 2;
        grid-row: row 2;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr; }

    .e {
        grid-column: 1 / 3;
        grid-row: 1;}

    .f {
        grid-column: 1;
        grid-row: 2;}

    .g {
        grid-column: 2;
        grid-row: 2;}

.filledBox { /*Used BOX MODEL*/
	background-color: #043;
	color: #ea0;
	width: 180px;
	height: 80px;
	margin-top: 5px; /*Used BOX MODEL MARGIN*/
	text-align: center;
	font: bold 30px Source Sans Pro, Helvetica;

}
.recycle {
	width: 180px;
	height: 60px;
	padding: 10px;
	background-color: #043;
	color: white;
	font: bold 18px Source Sans Pro, Helvetica;
	text-align: center;
	}
.recycle-header {
	background-color: #ea0;
	margin: -0.61em -0.61em 0.5em -0.61em; /*Used NEGATIVE MARGINS*/
	}
.main:hover {
	transform: scale(2); /*Used TRANSFORM */
		}
.main {
		  transition: all 1s; /*Used TRANSITION */
		  text-align: center;
		  font: bold 30px Source Sans Pro, Helvetica;
		  
		}
h1 {
	color: #043;
    font: bold 30px Source Sans Pro, Helvetica;
	text-decoration: none;
}
h2 {
	color: #043;
    font: bold 24px Source Sans Pro, Helvetica;
	text-decoration: none;
}
p {
	color: black;
    font: bold 16px Source Sans Pro, Helvetica;
}
footer {
	display: block;
	width: 100%;
	margin: auto;
	padding: 1.2rem .5rem;
	border-top: 2px solid #ea0;
	background-color: #043;
	text-align: center;
	
	
	}
ul.footer {
	list-style-type: none;
	font: bold 14px Source Sans Pro, Helvetica;
	color: white;
}
a.footer {
	color: white
}